.App-header {
  background-color: #282c34;
  min-height      : 100vh;
  display         : flex;
  flex-direction  : column;
  align-items     : flex-start;
  color           : white;
  padding         : 20px;
}